body{
    font-family: 'Roboto', sans-serif;
    
    font-size: large;
    font-weight: bold;

}
*{
	padding:0px;
	margin:0px;
}

#Nav-bar{

    width:100%;
    height: 65px;
    line-height: 74px;
    background: white;
    
}
#Nav-bar ul{
    float: right;
    margin-right:15px;

}

#Nav-bar ul li{

    display:inline-block;
    list-style-type: none;
    
    
}
#Nav-bar ul li a {

    text-decoration: none;
    color: Black;
    padding: 25px;
    font-weight: bold;
    
}
#Nav-bar ul li:hover{
    background: #898a80;
	transition: all ease-in-out .45s;


}
section{
    height: 900px;
    margin-bottom: 100px;
    margin-top: 10px;
}
#Third-section{

    background-color:rgb(193, 221, 221);
}
#First-section{
    background-color: aqua;
}

.half-width{

    width:40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;

}

.half-width img{

    width:80%;
    margin-top: 0px;
    height:700px;
    
}
.half-width h1{
    font-family: 'Bebas Neue', cursive;
        font-size: 75px;
        color: orange;
        margin: 0px;
        /*letter-spacing: 3px;*/
        font-weight:100;
        
}

.one-third-width{
    width: 23%;
    float :left;
    box-shadow: 10px 10px 40px rgb(161, 158, 158);
    border-radius: 25px;
    height:50%;
    background-color: white;
    
    
}
.one-third-width img{
        width:90%;
        padding-top:20px;
        padding-left:20px ;
        padding-right:50px ;
}

#Third-sec-left-div{
    margin-left: 13.5%;
    
    

}
#Third-sec-left-div h3{
        padding-left:20px;
        font-size:25px;

}
#Third-sec-left-div p{
        padding-left: 20px;
        padding-right: 30px;
}
#Third-sec-middle-div{
    margin-left: 35px;
    margin-right: 35px;

}
#Third-sec-middle-div h3{
    padding-left:20px;
    font-size:25px;
}
#Third-sec-middle-div p{
    padding-left: 20px;
    padding-right: 30px;
}
#Third-sec-right-div h3{
    
    padding-left:20px;
    font-size:25px;

}
#Third-sec-right-div p{
    padding-left: 20px;
    padding-right: 30px;
}

#Third-section h1{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    padding-bottom: 50px;
    letter-spacing: 3px;
}
#Fourth-section{

     height:400px;
     background-image: url("images/Group_33094_1.png");
     background-position: center;
     background-size: 60%;
     background-repeat: no-repeat;
}
#Fourth-sec-first-div a{  
    float:right;
    margin-top:160px;
    
    margin-right: 450px;
    
    
}
#Fourth-sec-first-div h2{
        padding-left: 450px;
        padding-top:155px;
        font-family: 'Bebas Neue', cursive;
        font-size: 70px;
        display:inline-block;
        /*letter-spacing: 3px;*/

}
#First-section-first-div{

    margin-top: 100px;    

}
#Second-section-second-div{

    margin-top: 100px;

}
.button{
    text-decoration: none;
    font-size: 20px;
    
    border-radius: 10px;
    background-image: linear-gradient(45deg, Lightsalmon, tomato);
    padding: 30px 60px;
    color: white;
}
.button:hover{
    transform: scale(1.1);

}
#Fifth-section{
    width:100%;
    height:900px;

}

#Fifth-section h3{
        text-align: center;
        text-shadow:2px 2px #c5a5a5;
        font-size: 30px;

}
#Fifth-section h3:hover{
    transform: scale(2.1);
    transition: all ease-in-out .45s;
    background-image:linear-gradient(16deg, rgb(234, 0, 255), cyan,white);
    

}

.image-rad{

     width:100%;
     height:50%px;

}
.image-rad2{
    
    width:100%;
     height:50%px;
}
.image-rad2 img{
    width:50%;
    float:left;
    /*margin-left:10%;
    margin-right:10px;
    padding-left:0px;
    padding-right:15px;
    margin-bottom:50px;
    border-radius:15px;*/
    
}
#image-four{

    width:50%;
    float:left;
    height:200px;
}

.image-rad img{
    width:50%;
    float:left;
    /*margin-left: 170px;
    margin-right:0px;
    padding-left: 15px;
    padding-right:0px;
    margin-bottom:120px;
    border-radius: 8px;*/
}



footer{
    background-color: aqua;
    width: 100%;
    height:200px;
    margin-top: 500px;
   
}
footer h3 {
    padding-top: 15px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color:rgb(165, 35, 35);
    font-size:30px;
}
footer h2{
    text-align: center;
    padding-top: 5px;
    font-size:40px;
    font-weight: 700;
}

.landing{
   
    float:left;
    
    
}
.landing img{
    width:25%;
    padding-top:20px;
    padding-left:0px ;
    padding-right:0px ;
   
}
#footer-image-one{

    margin-left: 46.5%;
}
#footer-image-two{

    margin-left: -70px;
    
}
#footer-image-three{

    margin-right: 10.5%;
    margin-left: -70px;
}

